.row {
  // margin: 0 0 0 80;
  justify-content: center;
  .col-md-4{
    img{
      margin: 0 0 0 80px;
      height: 380px;
      // height: 250px;
    }
    background-color: #e0f6f1;
    height: 450px;
  }


  .content{
    justify-content: center;
    background-color: #e0f6f1;
    height: 400px;
    padding: 40px 0 0 0;

    .membership-content {
      // position: absolute;
      // left: 50%;
      background-color: white;
      margin: 40px 0 50px 0;
      padding: 0 70px 0 70px;
      border-radius: 30px;

      h1 {
      text-align: center;
        margin-top: 30px;
        font-family: "Playfair Display";
        color: #07484a;
        font-weight: 400;
        // max-width: 400px;
        font-size: 42px;

        span {
          font-weight: bold;
        }
      }

      p {
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 20px;
      }

      input {
        font-family: "Open Sans";
        background-color: white;
        width: 500px;
      }

      .btn {
        font-family: "Open Sans";
        font-weight: bold;
        background-color: #70908b;
        color: white;
        padding: 12px 30px 12px 30px;
      }

      .btn:hover {
        background-color: #07484a;
      }
    }
  }
}
