.card {
  .card-img-top {
    height: 200px;
  }

  .card-title {
    font-family: 'Playfair Display"';
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #07484a;
  }

  .card-text {
    height: 80px;
    width: 100%;
    text-overflow: ellipsis;
    background-color: red;
    overflow: hidden;
  }
}
