.payment-status{
    position: relative;
    left: 16%;
    background-color: #eeee;
    border-radius: 20px;
    margin-top: 125px;
    padding: 30px;
    width: 70%;
    img{
        height: 250px;
        width: 250px;
        margin-bottom: 20px;
    }
}