@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,600;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color_primary: #07484a;
$color_secondary: #70908b;

ul,
li,
a,
button {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

nav {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: sticky;
  border-bottom: 1px solid black;
}

.logo {
  width: 70px;
  margin: 10px;
}

.nav-items li {
  display: inline-block;
  padding-top: 25px;
  padding-left: 60px;
}

.nav-items li a {
  font-size: 21px;
  font-weight: 400;
  color: black;
}

.nav-items li a:hover {
  color: $color_secondary;
}

.nav-items li a::after {
  content: "";
  height: 3px;
  width: 100%;
  display: block;
  background: $color_secondary;
  opacity: 0;
}

.nav-items li a:hover::after {
  opacity: 1;
}

.right-button {
  margin-right: 40px;
}

.subs {
  padding: 8px 28px;
  border-style: solid;
  border-color: $color_secondary;
  border-width: 3px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 21px;
  font-weight: 500;
}

.subs:hover {
  background-color: $color_secondary;
  color: #ffffff;
  font-weight: 600;
}

.content {

  p {
    font-family: "Open Sans";
    font-weight: 300;
    margin-top: 25px;
    font-size: 28px;
    color: $color_primary;
  }

  h2 {
    font-family: "Playfair Display";
    font-weight: 600;
    font-size: 65px;
    color: $color_primary;
  }

  .btn {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: $color_secondary;
    padding: 10px 25px 10px 25px;
    margin-top: 15px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .btn:hover {
    background-color: $color_primary;
  }
}

.img-content {
  width: 80%;
  margin: 0 0 50px 80px;
}
